Multepal.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0"
  xmlns:sch="http://purl.oclc.org/dsdl/schematron">  
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Popol Wuj Encoding Guidelines</title>
      </titleStmt>
      <publicationStmt>
       <authority> Prepared in TEI P5 by Aldo Ismael Barriente and Winnie Pérez Martínez at the University of Virginia. </authority>
       <publisher>Multepal Project</publisher>
        <availability status="free">
          <p></p>
          <!-- add elements + info about distribution and licensing -->
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Born digital, based on the Mayan literature research done by http://multepal.spanitalport.virginia.edu/users</p>
      </sourceDesc>
    </fileDesc>
    <!-- Eventually we will need a <revisionDesc> to log the changes done to the schema over time. -->
  </teiHeader>
  
  <text>
    <body>
      
      <schemaSpec ident="oddex1" start="TEI">
        <moduleRef key="analysis" include="pc span"/>
        <moduleRef key="core"/>
        <moduleRef key="drama"/>
        <moduleRef key="header"/>
        <moduleRef key="linking" include="seg"/>
        <moduleRef key="msdescription"/>
        <moduleRef key="namesdates" include="orgName persName person"/>
        <moduleRef key="tagdocs"/>
        <moduleRef key="tei"/>
        <moduleRef key="textstructure" exclude="div1 div2 div3 div4 div5 div6 div7"/>
        <moduleRef key="transcr" include="space"/>
        <moduleRef key="spoken"/>
        
        <!-- Adding attribute values to element classes -->
        <classSpec type="atts" module="core" ident="att.placement" mode="change">
          <attList>
            <attDef ident="place" mode="change" usage="opt">
              <valList type="semi" mode="add">
                <valItem ident="margin(left)"/>
                <valItem ident="margin(right)"/>
                <valItem ident="margin(single-col)"/>
                <valItem ident="margin(bottom)"/>
                <valItem ident="margin(middle)"/>
              </valList>
            </attDef>
          </attList>
        </classSpec>
        
        <classSpec type="atts" module="tei" ident="att.global.rendition" mode="change">
          <attList>
            <attDef ident="rend" mode="change" usage="opt">
              <valList type="semi" mode="add">
                <valItem ident="indent(hanging)"/>
                <valItem ident="indent(default)"/>
                <valItem ident="indent(full-indent)"/>
                <valItem ident="align(center)"/>
                <valItem ident="align(justified)"/>
                <valItem ident="align(single-line)"/>
                <valItem ident="text-style(bold)"/>
                <valItem ident="text-style(italic)"/>
                <valItem ident="text-style(caps)"/>
                <valItem ident="text-style(underline)"/>
                <valItem ident="text-style(overstrike)"/>
                <valItem ident="text-style(strikethrough)"/>
                <valItem ident="text-style(sup)"/>
                <valItem ident="text-style(sub)"/>
                <valItem ident="text-style(scribble)"/>
                <valItem ident="text-style(double-underline)"/>
                <valItem ident="size(large)"/>
                <valItem ident="size(strong)"/>
                <valItem ident="size(x-large)"/>
                <valItem ident="size(xx-large)"/>
                <valItem ident="outliers(border-left)"/>
                <valItem ident="outliers(border-right)"/>
              </valList>
            </attDef>
          </attList>
        </classSpec>
        
        
        
        <!-- TEXTSTRUCTURE: Adding attribute to element classess -->
        <elementSpec ident="div" mode="change" module="textstructure">
          <attList>
            <attDef ident="type" mode="replace" usage="req">
              <valList type="closed">
                <valItem ident="toc">
                  <desc>K'iche' word for section in Ximénez (?) </desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        


        <constraintSpec scheme="schematron" ident="rsAnaCheck">
          <constraint>
            <sch:rule context="tei:TEI//@ana">
              <sch:report test="matches(., '[a-z]+')" role="warning">
                @ana attribute values must be written in uppercase.
              </sch:report>
            </sch:rule>
          </constraint>
        </constraintSpec>

      </schemaSpec>
    </body>
  </text>
</TEI>
